*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: teal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 .div1{
    width: 70wh;
     height: 100vh;
     padding-top: 10%;
     background-color: teal;
 }
.center1{
  width: 30wh;
   color: yellow;
   padding: 2rem;
}
.center1>input{
   justify-content: space-between;
}
